<mat-toolbar>
  <button mat-icon-button class="icon-button" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Exchange</span>
  <span class="spacer"></span>
  <button mat-icon-button class="icon-button favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="icon-button" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>


  <h1 [style.text-align]="'center'" [style.margin-top]="'15px'">Exchange rate for 1 dollar</h1>
  <app-exchange-field></app-exchange-field>



